body {
    font-family: 'Helvetica', Arial, Lucida Grande, sans-serif !important;

    background-color: #dadada;

    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.TierPicker {
    height: 100vh;
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Tier {
    margin: 10px;

    background-color: #1a1a1a;
    padding: 5px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TierInfo {
    width: 300px;
    background-color: #1a1a1a;
    padding: 5px;
    border-radius: 5px;

    color: #dddddd;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.TierCivs {
    width: 300px;
    padding-top: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.CivPicker {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Players {
    margin: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PlayerRow {
    background-color: #1a1a1a;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
}

.Difficulty {
    display: flex;
    margin: 5px;
}

.fa {
    color: #999999;
    margin: 2px;
}

.checked {
    color: #ffcc00;
}

.PlayerPicks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.CivIcon {
    width: 25px;
    height: 25px;
}

.AddPlayer {
    margin: 5px;
    padding: 5px;

    height: 30px;
    width: 30px;

    border-radius: 100%;
    background-color: #1a1a1a;
    color: #dddddd;
    border: none;
    font-size: 20px;
}

.Generate {
    margin: 50px;
    padding: 10px;
    border-radius: 5px;
    background-color: #1a1a1a;
    color: #dddddd;
    border: none;
    font-size: 20px;
}

.Hidden {
    display: none;
}
